// Mixins Here
.button-style(@bg-color, @button-width){
    background-color: @bg-color;
    border: 1px solid @main-border-color;
    padding: 10px 0px;
    color: white;
    text-align: center;
    font-size: 2rem;
    border-radius: 10px;
    width: @button-width;
}